<div id="trending">
  <a href="" class="category-name"
    >Trending&nbsp;&nbsp;<i class="fas fa-chart-line"></i
  ></a>
  <ul class="trending-tags">
    <li class="tag"><a href="">Donald Trump</a></li>
    <li class="tag"><a href="">Rap Viet</a></li>
    <li class="tag"><a href="">Storm</a></li>
    <li class="tag"><a href="">Game</a></li>
    <li class="tag"><a href="">Son Tung</a></li>
    <li class="tag"><a href="">No hope</a></li>
    <li class="tag"><a href="">Game</a></li>
  </ul>
</div>
