@import url("font.css");
@import url("global.css");

/** GLOBAL VARIABLES ---------------------------*/

/** HEADER ---------------------------*/
/* .header {
} */

/** MAIN---------------------------*/
/* #site-content {
} */

.container {
  width: 100%;
  margin: 1.5rem 0;
}

/** COVER PAGE---------------------------*/
/* .cover-page {
} */

/** COVER PAGE - TOPNEWS---------------------------*/
#top-news {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-row: 7fr 3fr;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

#top-news .attention-post {
  height: 100%;
}
#top-news .big-image {
  grid-column: 1 / span 1;
}

#top-news .big-image .img-title {
  font-size: 1.2rem;
}

#top-news .post-desc {
  padding: 1rem;
  font-family: var(--article-description-font);
  font-size: 1rem;
  grid-row: 2 / span 1;
}

#top-news .top-stories {
  height: 100%;
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

/** COVER PAGE - BREAKFAST NEWS---------------------------*/
#cover-page #breakfast-news {
  background-color: #e8e8e8;
  padding-bottom: 2rem;
  border-radius: 10px;
  position: relative;
}
#breakfast-news .article-title {
  text-align: center;
  display: block;
  margin: 1rem 0;
}

#breakfast-news .article-desc {
  padding: 0 1rem;
  margin: 1rem 0;
  line-height: 1.5;
}

#breakfast-news a.redirect-link {
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}

/** COVER PAGE - SUBSCRIBE FORM---------------------------*/
#cover-page .subscribe-form {
  margin: 2rem 0;
}

/** COVER PAGE - Trending---------------------------*/
#cover-page #trending {
  border: 1px dashed var(--hr-border-color);
  border-radius: 10px;
}

#trending .trending-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
}

#trending .tag {
  padding: 0.3rem 0.6rem;
  border-radius: 100px;
  font-size: 0.8rem;
  margin: 0.4rem;
  background: #dddddd;
}

/** LIFESTYLE ---------------------------*/
#cover-page #lifestyle-news {
  margin-top: 1rem;
}

#lifestyle-news > ul {
  grid-gap: 2rem;
}

#lifestyle-news > ul img {
  font-size: 0.8rem;
}

#lifestyle-news > ul .img-title {
  font-size: 0.8rem;
}

/** WORLD NEWS ---------------------------*/
#w-e-s-news {
  display: grid;
  grid-template-columns: 5fr 2fr 1.5fr;
}

#world-news {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
}

#world-news .world-news-row {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  column-gap: 1rem;
}

#world-news .world-news-row > div {
  padding-right: 1rem;
  border-right: 1px solid var(--hr-border-color);
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
}

/** EDUCATION NEWS---------------------------*/
#edu-news {
  border-right: 1px solid var(--hr-border-color);
}
#edu-news > div {
  margin-top: 1rem;
  padding: 0 1rem;
}

#edu-news h1 {
  margin-left: 2rem;
  font-family: var(--article-title-font);
  font-size: 1rem;
}

#edu-news > .post-list {
  overflow: auto;
  max-height: 50vh;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px dotted var(--hr-border-color);
}

/** SPORT NEWS ---------------------------*/
#sport-news {
  padding-left: 1rem;
}

#sport-news > .flex-row {
  margin-bottom: 1rem;
}

/** FEATURES NEWS---------------------------*/
/* #features-news {
} */

#features-news > div:first-child {
  margin-bottom: 1.5rem;
}

#features-news > ul {
  column-gap: 1rem;
  height: 30vh;
}

/** Politics ---------------------------*/

/* .bignews-section {
} */

/** FOOTER ---------------------------*/
