<div id="features-news" class="container">
  <div class="flex-row">
    <a href="" class="category-name">Features</a>
    <a href="" class="redirect-link">See all</a>
  </div>
  <div class="glider-contain">
    <ul class="img-list glider">
      <li class="img-card box animation">
<<<<<<< HEAD
        <img src="/images/feature1-sm.jpg" alt="feature1" loading="lazy" />
=======
        <img src="/images/feature1.jpg" alt="feature1" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="img-title">
          <a href="">
            In Vietnam, women find arduous tech-based delivery job rewarding
          </a>
        </div>
      </li>

      <li class="img-card box animation">
<<<<<<< HEAD
        <img src="/images/feature2-sm.jpg" loading="lazy" alt="feature2" />
=======
        <img src="/images/feature2.jpg" alt="feature2" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="img-title">
          <a href="">
            Three sexagenarian men and a quest to roam Vietnam by bicycle
          </a>
        </div>
      </li>

      <li class="img-card box animation">
<<<<<<< HEAD
        <img src="/images/feature3-sm.jpg" loading="lazy" alt="feature3" />
=======
        <img src="/images/feature3.jpg" alt="feature3" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="img-title">
          <a href="">
            Young Frenchwoman tries her best for Vietnamese patients
          </a>
        </div>
      </li>

      <li class="img-card box animation">
<<<<<<< HEAD
        <img src="/images/feature4-sm.jpg" loading="lazy" alt="lifestyle1" />
=======
        <img src="/images/feature4.jpg" alt="lifestyle1" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="img-title">
          <a href="">
            Vietnamese man puts heart into forest gardening to benefit locals
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
