<div id="features-news" class="container">
  <div class="flex-row">
    <a href="/category/features/?limit=14" class="category-name">Features</a>
    <a href="/category/features/?limit=14" class="redirect-link">See all</a>
  </div>
  <div class="glider-contain">
    <ul class="img-list glider1">
      <% features.forEach(e=> { %>
      <li class="img-card box animation">
        <a href="/post/slug/<%= e.slug %>">
          <img src="<%= e.post_thumbnail.split("/").slice(1).join("/780-") %>" alt="/images/alt.png" loading="lazy" />
          <div class="img-title">
            <p class="a">
              <%= e.post_title %>
            </p>
          </div>
        </a>
      </li>
      <% }); %>
    </ul>

    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
  </div>
</div>