<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head/head', {link: link}); %>=
  </head>
  <body>
    <!-- HEADER -->
    <%- include('minimizedHeader/minimizedHeader'); %>

    <!-- MAIN -->
    <%- post.post_content %>

    <!-- FOOTER -->
    <%- include('../footer/footer'); %>
  </body>
</html>
