<div id="sport-news">
  <div class="flex-row">
    <a href="" class="category-name">Entertainment</a>
    <a href="" class="redirect-link">See more</a>
  </div>
  <div class="img-card right-border">
    <img src="./images/sport1.jpg" alt="" />
    <div class="img-title">
      <a href="" class="post-title"
        >Johnson says Premier League soccer matches will continue during
        lockdown</a
      >
    </div>
  </div>

  <div class="img-card left-border">
    <img src="./images/sport2.jpeg" alt="" />
    <div class="img-title">
      <a href="" class="post-title"
        >England cancel Germany friendly after positive COVID test</a
      >
    </div>
  </div>

  <div class="img-card">
    <img src="./images/sport3.jpeg" alt="" />
    <div class="img-title">
      <a href="" class="post-title"
        >The more things change the more they stay the same for French Open king
        Nadal</a
      >
    </div>
  </div>
</div>
