<div id="sport-news">
  <div class="flex-row">
    <a href="/category/sport/?limit=14" class="category-name">Sport</a>
    <a href="/category/sport/?limit=14" class="redirect-link">See more</a>
  </div>

  <div class="post-list">
    <% sport.forEach(e=> { %>
    <a href="/post/slug/<%= e.slug %>" class="img-card right-border">
      <img src="<%= e.post_thumbnail.split("/").slice(1).join("/360-") %>" loading="lazy" alt="/images/alt.png" />
      <div class="img-title">
        <p class="a">
          <%= e.post_title %>
        </p>
      </div>
    </a>
    <% }); %>
  </div>
</div>
