<footer>
      <div class="site-footer">
        <%- include('footerLogo/footerLogo'); %>
        
        <%- include('footerNews/footerNews'); %>
        
        <%- include('help/help'); %>
        
        <%- include('footerSubscribe/footerSubscribe'); %>
      </div>
</footer>