<footer>
  <div class="site-footer">
    <div id="footer-logo">
      <img src="http://localhost:3000/images/logo.png" alt="" />
      <a href="#">The Pen Daily</a>
    </div>

    <div id="footer-news">
      <h1 class="article-title">News</h1>
      <ul class="footer-news-info">
        <li><a href="" class="article-desc">Homepage</a></li>
        <li><a href="" class="article-desc">Vietnam</a></li>
        <li><a href="" class="article-desc">International</a></li>
        <li><a href="" class="article-desc">Politics</a></li>
        <li><a href="" class="article-desc">Lifestyle</a></li>
        <li><a href="" class="article-desc">Sport</a></li>
        <li><a href="" class="article-desc">Education</a></li>
      </ul>
    </div>

    <div id="help">
      <h1 class="article-title">Contact us</h1>
      <ul class="footer-news-info">
        <li><a href="" class="article-desc">Licensing & Syndication</a></li>
        <li><a href="" class="article-desc">Contact the Newsroom</a></li>
        <li><a href="" class="article-desc">Advertise</a></li>
        <li><a href="" class="article-desc">Request a Correction</a></li>
        <li><a href="" class="article-desc">Send a new tip</a></li>
      </ul>
    </div>

    <div id="footer-subscribe">
      <h1 class="article-title">Subscribe</h1>
      <form action="" class="subscribe-form">
        <label for="footer-email-input">Read our news in every morning!</label>
        <input
          type="email"
          name="footer-email-input"
          placeholder="Enter your email"
        />
        <button type="submit">Send</button>
      </form>

      <h1 class="article-title">Our social media</h1>
      <ul class="social flex-row">
        <li>
          <a href=""><img src="/images/icons/facebook.svg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/icons/youtube.svg" alt="" /></a>
        </li>
      </ul>
    </div>
  </div>

  <span>©Copyright 2020 The Pen Daily</span>
</footer>
