<div class="minimized-header flex-row">
  <div>
    <button class="btn-section">
      <img src="/images/icons/menu-24px.svg" alt="Menu" />
    </button>
    <button class="btn-search"><i class="fas fa-search fa-lg"></i></button>
  </div>

  <div id="page-title">
    <a href="#">The Pen Daily</a>
  </div>

  <button class="btn-subscribe"><%= btn_label %></button>
</div>
