<div class="minimized-header flex-row">
  <div>
    <button class="btn-section" id="sidenav_trigger">
      <img src="/images/icons/menu-24px.svg" alt="Menu" />
    </button>
    <button class="btn-search">
      <img src="/images/icons/search-24px.svg" alt="Search" />
    </button>
  </div>

  <div id="page-title">
    <a href="/">The Pen Daily</a>
  </div>

  <button class="btn-subscribe" for="modal-toggle"><%= btn_label %></button>
</div>
