<div class="minimized-header flex-row">
  <div>
    <button class="btn-section">
      <i class="fas fa-bars fa-lg section-icon"></i>
    </button>
    <button class="btn-search"><i class="fas fa-search fa-lg"></i></button>
  </div>
  <%- include('pageTitle/pageTitle'); %>

  <button class="btn-subscribe">Subscribe</button>
</div>
