<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
  src="https://kit.fontawesome.com/adf7b2d8fe.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="<%= link %>" />
<title>The Pen Daily</title>
