<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD
<link rel="icon" type="image/svg+xml" href="./images/icons/favicon.svg" />
=======
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
<link rel="stylesheet" href="<%= link %>" />
<title>The Pen Daily</title>
