<nav class="top-right open">
  <a class="disc l1">
    <div>Request correction</div>
  </a>
  <a class="disc l2">
    <div>Send a tip</div>
  </a>
  <a class="disc l3">
    <div>Advertise</div>
  </a>
  <a class="disc l4">
    <div>Contact us</div>
  </a>
  <a class="disc l5">
    <div>Home</div>
  </a>
  <a class="disc l6 toggle"> Menu </a>
</nav>
