<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head/head', {link: link }); %>
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="container">
      <div class="board">
        <div class="title-logo">
          <svg
            version="1.0"
            xmlns="http://www.w3.org/2000/svg"
            width="297.000000pt"
            height="297.000000pt"
            viewBox="0 0 297.000000 297.000000"
            preserveAspectRatio="xMidYMid meet"
          >
            <g
              transform="translate(0.000000,297.000000) scale(0.100000,-0.100000)"
              fill="#000000"
              stroke="none"
            >
              <path
                d="M1345 2863 c-196 -25 -323 -62 -480 -138 -293 -142 -508 -363 -649
-667 -49 -106 -77 -193 -103 -323 -24 -123 -24 -367 0 -490 59 -297 193 -546
402 -747 58 -56 213 -178 226 -178 10 0 124 178 284 440 76 124 146 237 157
252 l19 28 -286 0 c-267 0 -286 1 -283 18 2 13 17 18 63 23 67 6 98 21 117 58
20 38 19 1197 -2 1235 -18 36 -59 56 -109 56 -50 0 -71 8 -71 27 0 13 51 14
393 10 335 -3 401 -6 452 -21 210 -61 332 -193 343 -371 l4 -70 -103 -179
c-95 -163 -108 -181 -145 -197 -62 -28 -126 -39 -279 -47 l-140 -7 1 -205 c0
-146 4 -212 13 -228 27 -49 123 -81 149 -49 5 6 76 127 157 267 80 140 151
259 156 265 5 5 9 -204 9 -546 0 -536 1 -557 19 -573 47 -43 185 -37 274 11
88 48 159 163 194 313 26 109 26 433 0 543 -24 100 -84 220 -139 276 -62 63
-106 81 -205 81 l-82 0 73 113 c114 177 341 539 360 574 9 18 45 70 80 117
l63 84 -76 46 c-164 99 -348 164 -541 191 -102 14 -242 18 -315 8z"
              />
              <path
                d="M2243 2510 c-32 -44 -135 -202 -228 -351 -94 -149 -178 -281 -187
-292 -10 -11 -18 -23 -18 -27 0 -4 34 -10 75 -14 400 -36 645 -305 646 -707 1
-357 -169 -590 -501 -690 -72 -22 -93 -23 -508 -27 -414 -3 -434 -2 -430 15 2
14 16 19 63 23 131 12 135 22 135 340 0 223 -2 251 -16 257 -9 3 -24 2 -32 -3
-8 -6 -78 -113 -154 -239 -77 -127 -180 -290 -228 -364 l-89 -133 102 -48
c207 -97 373 -134 602 -134 238 0 404 38 620 144 389 191 654 544 742 985 24
123 24 367 0 490 -64 322 -211 580 -451 792 -39 35 -74 63 -78 63 -4 0 -33
-36 -65 -80z m191 -446 c24 -31 66 -123 66 -146 0 -5 -26 -9 -57 -9 -32 -1
-71 -4 -86 -8 l-29 -6 21 -27 c26 -32 26 -44 4 -53 -13 -4 -26 3 -45 24 -17
19 -37 31 -53 31 -25 0 -55 40 -55 74 0 8 28 33 62 57 35 23 76 55 93 71 16
15 35 28 40 28 6 0 23 -16 39 -36z"
              />
              <path
                d="M1160 2025 l0 -365 53 0 c109 0 215 99 259 243 16 55 19 87 16 170
-3 93 -7 108 -38 165 -18 35 -48 75 -66 89 -46 35 -126 63 -179 63 l-45 0 0
-365z"
              />
            </g>
          </svg>
          <span>The Pen Daily</span>
        </div>
        <span class="board_description">
          <%= contact.title %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Layer_1"
            x="0px"
            y="0px"
            viewBox="0 0 511.995 511.995"
            style="enable-background: new 0 0 511.995 511.995"
            xml:space="preserve"
            width="512"
            height="512"
          >
            <path
              d="M346.999,511.995c-22.429,0.001-44.06-12.513-54.479-33.798l-30.156-56.463l-17.107,32.654  c-0.438,0.838-0.937,1.644-1.489,2.411c-11.227,15.58-29.699,21.117-43.375,21.117c-0.11,0-0.22,0-0.331-0.001  c-15.284-0.101-30.503-6.659-41.752-17.995c-11.683-11.772-18.116-27.399-18.116-44.005V156.961  c0-23.619,13.308-44.471,34.729-54.419c21.218-9.854,45.475-6.722,63.469,8.149l131.747,98.111  c8.859,6.597,10.692,19.127,4.096,27.986c-6.598,8.859-19.127,10.692-27.986,4.095l-132.191-98.442  c-0.327-0.244-0.647-0.497-0.959-0.761c-9.047-7.64-18.61-4.12-21.328-2.859c-2.716,1.261-11.576,6.296-11.576,18.14v258.955  c0,12.887,10.609,21.938,20.132,22c0.03,0,0.062,0,0.092,0c3.892,0,8.171-1.612,10.303-3.798l33.758-64.438  c3.438-6.564,10.226-10.689,17.636-10.719c0.027,0,0.054,0,0.08,0c7.38,0,14.163,4.064,17.642,10.578l48.151,90.155  c0.136,0.254,0.266,0.511,0.39,0.771c4.8,10.002,16.898,14.354,26.966,9.693c5.013-2.318,8.795-6.458,10.652-11.658  c1.801-5.041,1.57-10.458-0.641-15.31l-48.596-86.476c-3.48-6.193-3.414-13.767,0.174-19.898c3.587-6.131,10.158-9.899,17.262-9.899  h68.568c11.604-0.593,16.237-9.731,17.387-12.539c1.18-2.879,4.385-12.958-3.896-21.741c-7.577-8.037-7.205-20.694,0.831-28.272  c8.037-7.578,20.695-7.204,28.272,0.832c16.41,17.405,20.936,42.059,11.809,64.342c-9.076,22.16-29.471,36.477-53.225,37.364  c-0.248,0.01-0.497,0.014-0.746,0.014h-34.819l32.196,57.293c0.197,0.352,0.385,0.709,0.561,1.072  c7.131,14.706,8.03,31.282,2.532,46.673c-5.497,15.392-16.693,27.647-31.527,34.508C364.016,510.216,355.45,511.994,346.999,511.995  z M162.808,78.542c9.686-5.311,13.231-17.468,7.92-27.153l-17-31c-5.311-9.685-17.466-13.23-27.152-7.919  c-9.686,5.311-13.231,17.468-7.92,27.153l17,31c3.638,6.634,10.486,10.387,17.554,10.387  C156.46,81.01,159.758,80.216,162.808,78.542z M120.515,124.023c4.427-10.12-0.188-21.913-10.307-26.34l-32-14  c-10.12-4.428-21.912,0.188-26.34,10.307c-4.427,10.12,0.188,21.913,10.307,26.34l32,14c2.609,1.142,5.329,1.682,8.006,1.682  C109.886,136.011,117.229,131.533,120.515,124.023z M245.166,59.331l11-33c3.493-10.479-2.17-21.806-12.649-25.298  c-10.475-3.495-21.806,2.17-25.298,12.649l-11,33c-3.493,10.479,2.17,21.806,12.649,25.298c2.098,0.7,4.23,1.032,6.327,1.032  C234.568,73.012,242.373,67.711,245.166,59.331z M298.096,110.078l27-20c8.876-6.575,10.741-19.1,4.167-27.976  c-6.575-8.876-19.101-10.741-27.976-4.167l-27,20c-8.876,6.575-10.741,19.1-4.167,27.976c3.924,5.297,9.966,8.097,16.087,8.097  C290.344,114.008,294.517,112.729,298.096,110.078z M79.62,222.576l30-12c10.256-4.102,15.244-15.742,11.142-25.997  c-4.103-10.257-15.744-15.245-25.997-11.142l-30,12c-10.256,4.102-15.244,15.742-11.142,25.997  c3.128,7.82,10.638,12.578,18.575,12.578C74.671,224.012,77.184,223.55,79.62,222.576z"
            />
          </svg>
        </span>
      </div>
    </div>
    <div class="container" id="modal">
      <%- include('form', {title: contact.title, description: contact.desc}) %>
    </div>

    <div class="pseudo-bg"></div>

    <%- include('circular_nav') %>
    <!-- SCripts -->
    <script src="/js/particles.min.js"></script>
    <script src="/js/circular_nav.js"></script>
    <script>
      particlesJS.load("particles-js", "/js/particles.json", function () {
        console.log("callback - particles-js config loaded");
      });

      document.querySelector(".title-logo").addEventListener("click", (ev) => {
        document.querySelector("#modal").classList.remove("out");
        document.querySelector("#modal").classList.add("in");
      });

      document.querySelector(".pseudo-bg").addEventListener("click", (ev) => {
        document.querySelector("#modal").classList.remove("in");
        document.querySelector("#modal").classList.add("out");
      });
    </script>
  </body>
</html>
