<div id="lifestyle-news">
  <div class="flex-row">
    <a href="" class="category-name">LIFESTYLES</a>
    <a href="" class="redirect-link">View all</a>
  </div>
  <ul class="img-list">
    <li class="img-card box animation">
      <img src="./images/lifestyle1.jpg" alt="lifestyle1" />
      <div class="img-title">
        <a href="">
          Hunting for clouds in Vietnam's remote northern highlands</a
        >
      </div>
    </li>
    <li class="img-card box animation">
      <img src="./images/lifestyle2.jpg" alt="lifestyle2" />
      <div class="img-title">
        <a href="">
          BritCham Vietnam’s Fun Run 2020 upholds charitable spirit</a
        >
      </div>
    </li>
    <li class="img-card box animation">
      <img src="./images/lifestyle3.jpg" alt="lifestyle3" />
      <div class="img-title">
        <a href="">Dried persimmons: The sun-kissed autumn treat of Da Lat</a>
      </div>
    </li>
  </ul>
</div>
