<div id="world-news">
  <div class="world-news-row">
    <div>
      <div class="news-card left-border">
        <div><a href="" class="category-name">WORLD NEWS</a></div>
<<<<<<< HEAD
        <img src="./images/world1-sm.png" alt="" />
=======
        <img src="./images/world1.png" alt="" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="card-title">
          <a href="" class="article-title"
            >Sri Lankan navy, villagers rescue more than 100 stranded whales</a
          >
        </div>
        <div class="card-desc">
          <p class="article-desc">
            COLOMBO -- Sri Lanka’s navy said on Tuesday more than 100 whales had
            been rescued after becoming stranded on a beach on the island’s
            southwest coast a day earlier...
          </p>
        </div>
      </div>
    </div>

    <div>
      <div class="news-card left-border">
        <div class="card-title">
          <a href="" class="article-title"
            >Death toll climbs to 100 from devastating Aegean quake</a
          >
        </div>
        <div class="card-desc">
          <p class="article-desc">
            ISTANBUL -- The death toll from Friday’s earthquake in the Aegean
            Sea has reached 100, with the deaths of 98 people in Turkey’s
            western city of Izmir, disaster authorities said.
          </p>
        </div>
      </div>

      <div class="news-card left-border">
        <div class="card-title">
          <a href="" class="article-title">
            At least two killed in Vienna attack involving multiple assailants,
            locations
          </a>
        </div>
        <div class="card-desc">
          <p class="article-desc">
            VIENNA – Two people have been killed after multiple gunmen opened
            fire across central Vienna on Monday, and at least one attacker
            remained on the run after what Chancellor Sebastian Kurz described
            as a “repulsive terrorist attack”.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="world-news-row">
    <div>
      <div class="news-card left-border">
        <div class="card-title">
          <a href="" class="article-title">
            France sees record number of new COVID-19 cases, hospitalisations
            spike
          </a>
        </div>
        <div class="card-desc">
          <p class="article-desc">
            PARIS -- France’s reported a record 52,518 new COVID-19 on Monday
            and the number of people hospitalised with the disease rose by more
            than a 1,000 for the fourth time in eight days...
          </p>
        </div>
      </div>

      <div class="news-card left-border">
        <div class="card-title">
          <a href="" class="article-title">
            WHO chief says he is identified as contact of COVID-19 positive
            person
          </a>
        </div>
        <div class="card-desc">
          <p class="article-desc">
            World Health Organization Director-General Tedros Adhanom
            Ghebreyesus said on Sunday that he had been identified as a contact
            of someone who tested positive for COVID-19,...
          </p>
        </div>
      </div>
    </div>

    <div>
      <div class="news-card left-border">
<<<<<<< HEAD
        <img src="./images/world2-sm.jpg" alt="" />
=======
        <img src="./images/world2.jpg" alt="" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="card-title">
          <a href="" class="article-title">
            Ravaged by first wave, Italy ill-prepared as second COVID assault
            hits</a
          >
        </div>
        <div class="card-desc">
          <p class="article-desc">
            ROME – One month ago, the World Health Organization posted a video
            praising Italians’ “strong and effective response” to the
            coronavirus pandemic.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
