<div id="w-e-s-news" class="container">
  <!-- WORLD NEWS -->
  <%- include('worldNews/worldNews'); %>

  <!-- EDUCATION NEWS -->
  <%- include('eduNews/eduNews'); %>

  <!-- SPORT NEWS -->
  <%- include('sportNews/sportNews'); %>
</div>
