<div id="top-news">
  <div class="attention-post">
    <div class="big-image img-card">
      <img src="/images/cover-img-sm.jpg" alt="" />
      <div class="img-title">
        <a href="/post/5fc29f7486711030fc5b3f71" class="post-title"
          >Passenger burns tissue on plane before take-off at Hanoi airport</a
        >
      </div>
      <p class="post-desc">
        The captain decided to steer the aircraft back to the apron and hand
        over the passenger to airport security
      </p>
    </div>
  </div>

  <div class="top-stories">
    <a href="" class="category-name">Top Stories</a>
    <ul class="post-list">
      <li class="link-item">
        <a href="/post/5fc2a08186711030fc5b3f96"
          >Contact restored with Philippine province hit by year's most powerful
          typhoon
        </a>
      </li>
      <li class="link-item">
        <a href="/post/5fc2a13a86711030fc5b3fbc"
          >Three-year-old rescued from rubble, Turkey quake death toll hits
          81</a
        >
      </li>
      <li class="link-item">
        <a href="/post/5fc2a1cc86711030fc5b3fe3"
          >Vietnam publishes draft protocol for quarantining entrants from
          international flights</a
        >
      </li>
      <li class="link-item">
        <a href="/post/5fc2a25586711030fc5b400b"
          >Receding floodwaters expose warhead at central Vietnam home
        </a>
      </li>
      <li class="link-item">
        <a href="/post/5fba3224317e511d20218242"
          >Whirlwind damages Ho Chi Minh City campus, causes school closure for
          2,000 students</a
        >
      </li>
      <li class="link-item">
        <a href="/post/5fc2a2d886711030fc5b4034"
          >Bodies of two students swept away by flood in north-central Vietnam
          recovered</a
        >
      </li>
      <li class="link-item">
        <a href="/post/5fc2a3ad86711030fc5b405e"
          >Gunmen kill at least 10 students in attack on Kabul university</a
        >
      </li>
      <li class="link-item">
        <a href="/post/5fc2a42286711030fc5b4089"
          >New COVID curbs prompt wave of resistance across Europe</a
        >
      </li>
      <li class="link-item">
        <a href="/post/5fba354c317e511d20218299"
          >France sees record number of new COVID-19 cases, hospitalisations
          spike</a
        >
      </li>
      <li class="link-item">
        <a href="/post/5fc2a4e586711030fc5b40b5"
          >Ten dead, three missing as 2020's strongest typhoon slams
          Philippines</a
        >
      </li>
    </ul>
  </div>
</div>
