<ul id="menu">
  <li class="menu-item">Action 1</li>
  <li class="menu-item">Action 2</li>
  <li class="menu-item">Action 3</li>
  <li class="menu-item">Action 4</li>
</ul>
<div id="out-click"></div>
