<div id="sidenav">
  <ul>
    <li><a href="/" class="nav-item">Homepage</a></li>
    <hr />
    <li><a href="/category/vietnam/?limit=14" class="nav-item">Vietnam</a></li>
    <li><a href="/category/international/?limit=14" class="nav-item">International</a></li>
    <li><a href="/category/politics/?limit=14" class="nav-item">Politics</a></li>
    <li><a href="/category/society/?limit=14" class="nav-item">Society</a></li>
    <li><a href="/category/business/?limit=14" class="nav-item">Business</a></li>
    <li><a href="/category/lifestyle/?limit=14" class="nav-item">Lifestyle</a></li>
    <li><a href="/category/features/?limit=14" class="nav-item">Features</a></li>
    <li><a href="/category/sport/?limit=14" class="nav-item">Sport</a></li>
    <li><a href="/category/city-diary/?limit=14" class="nav-item">City diary</a></li>
    <li><a href="/category/education/?limit=14" class="nav-item">Education</a></li>
    <li><a href="/category/media/?limit=14" class="nav-item">Media</a></li>

    <hr />
    <li><a href="#" class="nav-item">Subscription</a></li>
    <li><a href="/contact" class="nav-item">Contact us</a></li>
  </ul>
</div>
<div id="sidenav_bg"></div>