<div id="sidenav">
  <ul>
    <li><a href="/" class="nav-item">Homepage</a></li>
    <hr />
    <li><a href="/category/vietnam" class="nav-item">Vietnam</a></li>
    <li>
      <a href="/category/international" class="nav-item">International</a>
    </li>
    <li><a href="/category/politics" class="nav-item">Politics</a></li>
    <li><a href="/category/society" class="nav-item">Society</a></li>
    <li><a href="/category/business" class="nav-item">Business</a></li>
    <li><a href="/category/lifestyle" class="nav-item">Lifestyle</a></li>
    <li><a href="/category/features" class="nav-item">Features</a></li>
    <li><a href="/category/sport" class="nav-item">Sport</a></li>
    <li><a href="/category/city-diary" class="nav-item">City diary</a></li>
    <li><a href="/category/education" class="nav-item">Education</a></li>
    <li><a href="/category/media" class="nav-item">Media</a></li>

    <hr />
    <li><a href="#" class="nav-item" data-nav-subscribe>Subscription</a></li>
    <li><a href="/contact/form" class="nav-item">Contact us</a></li>
  </ul>
</div>
<div id="sidenav_bg"></div>
