<div id="sidenav">
  <ul>
    <li><a href="/" class="nav-item">Homepage</a></li>
    <hr />
    <li><a href="/categoryPage" class="nav-item">Vietnam</a></li>
    <li><a href="/categoryPage" class="nav-item">International</a></li>
    <li><a href="/categoryPage" class="nav-item">Politics</a></li>
    <li><a href="/categoryPage" class="nav-item">Society</a></li>
    <li><a href="/categoryPage" class="nav-item">Business</a></li>
    <li><a href="/categoryPage" class="nav-item">Lifestyle</a></li>
    <li><a href="/categoryPage" class="nav-item">Features</a></li>
    <li><a href="/categoryPage" class="nav-item">Sport</a></li>
    <li><a href="/categoryPage" class="nav-item">City diary</a></li>
    <li><a href="/categoryPage" class="nav-item">Education</a></li>
    <li><a href="/categoryPage" class="nav-item">Media</a></li>

    <hr />
    <li><a href="#" class="nav-item">Subscription</a></li>
    <li><a href="/contact" class="nav-item">Contact us</a></li>
  </ul>
</div>
<div id="sidenav_bg"></div>
