<section id="draft-page">
  <h1 class="section-title">Drafts</h1>
  <div class="card-container">
    <% list_post.forEach(function(post){ %> <% if(post.status === "Draft") {%>
    <%- include('card', {post:post.post_id, post_status: post.status}); %> <%
    }%><% }); %>
  </div>
</section>
