<div id="highlight">
  <header>
    <p>Category</p>
    <h1>Politics</h1>
  </header>

  <div class="highlight-container">
    <div class="left">
      <div class="card">
        <img src="/images/politic1.jpg" alt="" />
        <h2 class="card_title">
          US committed to maintaining stable relation, cooperation with Vietnam:
          Pompeo
        </h2>
        <div class="card_detail">
          <p>
            U.S. Secretary of State Mike Pompeo, who was on an official visit to
            Vietnam on the occasion of the 25th anniversary of bilateral
            diplomatic ties, ...
          </p>
          <span class="date">1hr ago - By TAN NGUYEN</span>
        </div>
      </div>

      <div class="card">
        <img src="/images/politic1.jpg" alt="" />
        <h2 class="card_title">
          Japanese news agency spotlights PM Yoshihide Suga’s Vietnam visit
        </h2>
        <div class="card_detail">
          <p>
            Japanese news agency Kyodo ran articles highlighting Prime Minister
            Yoshihide Suga’s official visit to Vietnam, including his talks with
            his Vietnamese counterpart Nguyen Xuan Phuc on Monday...
          </p>
          <span class="date">3hr ago - By TAN NGUYEN</span>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="card">
        <h2 class="card_title">
          US committed to maintaining stable relation, cooperation with Vietnam:
          Pompeo
        </h2>
        <div class="image"><img src="/images/politic1.jpg" alt="" /></div>
        <div class="card_detail">
          <p>
            U.S. Secretary of State Mike Pompeo, who was on an official visit to
            Vietnam on the occasion of the 25th anniversary of bilateral
            diplomatic ties, ...
          </p>
          <span class="date">1hr ago - By TAN NGUYEN</span>
        </div>
      </div>
      <div class="card">
        <h2 class="card_title">
          US committed to maintaining stable relation, cooperation with Vietnam:
          Pompeo
        </h2>
        <div class="image"><img src="/images/politic1.jpg" alt="" /></div>
        <div class="card_detail">
          <p>
            U.S. Secretary of State Mike Pompeo, who was on an official visit to
            Vietnam on the occasion of the 25th anniversary of bilateral
            diplomatic ties, ...
          </p>
          <span class="date">1hr ago - By TAN NGUYEN</span>
        </div>
      </div>
    </div>
  </div>
</div>
