<div id="highlight">
  <header>
    <p>Category</p>
    <h1><%= category.category_name %></h1>
  </header>

  <div class="highlight-container">
    <div class="left">

      <%- include('highlight_card', {post: posts[0] }); %>

      <%- include('highlight_card', {post: posts[1] }); %>
    </div>

    <div class="right">
      <%- include('highlight_card', {post: posts[2] }); %>

      <div class="card">
        <h2 class="card_title">
          US committed to maintaining stable relation, cooperation with Vietnam:
          Pompeo
        </h2>
        <div class="image"><img src="/images/politic1.jpg" alt="" /></div>
        <div class="card_detail">
          <p>
            U.S. Secretary of State Mike Pompeo, who was on an official visit to
            Vietnam on the occasion of the 25th anniversary of bilateral
            diplomatic ties, ...
          </p>
          <span class="date">1hr ago - By TAN NGUYEN</span>
        </div>
      </div>
    </div>
  </div>
</div>