<div class="post">
  <span class="date">26 Nov 2020</span>

  <div>
    <div class="image"><img src="/images/politic1.jpg" alt="" /></div>
    <div class="post_detail">
      <h2 class="post_title">
        US committed to maintaining stable relation, cooperation with Vietnam:
        Pompeo
      </h2>
      <p>
        U.S. Secretary of State Mike Pompeo, who was on an official visit to
        Vietnam on the occasion of the 25th anniversary of bilateral diplomatic
        ties, ...
      </p>
      <span class="date">By TAN NGUYEN</span>
    </div>
  </div>
</div>
