<div id="footer-subscribe">
  <h1 class="article-title">Subscribe</h1>
  <form action="" class="subscribe-form">
    <label for="footer-email-input">Read our news in every morning!</label>
    <input
      type="email"
      name="footer-email-input"
      placeholder="Enter your email"
    />
    <button type="submit">Send</button>
  </form>

  <h1 class="article-title">Our social media</h1>
  <ul class="social flex-row">
    <li><i class="fab fa-facebook fa-lg"></i></li>
    <li><i class="fab fa-youtube fa-lg"></i></li>
  </ul>
</div>
