<div class="topbar">
  <div class="section-dropdown flex-row">
    <button><i class="fas fa-bars fa-lg section-icon"></i></button>
    <p>SECTIONS</p>
  </div>

  <p class="date">Sunday, November 1, 2020</p>
  
  <div class="flex-row">
    <form action="#" id="searchform" class="flex-row">
      <i class="fas fa-search fa-lg"></i>
      <p>SEARCH</p>
    </form>
    <!-- <button id="btn-login">Log in</button> -->
  </div>
</div>