<div id="admin-dashboard">
  <div class="card-container">
    <div class="card">
      <div class="img"></div>
      <div class="title"></div>
    </div>
  </div>
  <canvas id="myChart" height="400" style="width: 100%"></canvas>
</div>
