<div id="cover-page" class="container grid-8-2">
  <!-- BIGGEST ARTICLE -->
  <div>
    <!-- TOP NEWS -->
    <%- include('topNews/topNews'); %>
    <hr />

    <!-- LIFE STYLES NEWS -->
    <%- include('lifeStyleNews/lifeStyleNews'); %>
  </div>

  <%- include('sideBar/sideBar'); %>
</div>
