<div id="politics-news" class="container">
  <div class="bignews-section">
    <div class="panel">
      <div class="left-panel">
        <div class="news-card right-border">
          <div class="card-title">
            <a href="" class="article-title">
              US committed to maintaining stable relation, cooperation with
              Vietnam: Pompeo
            </a>
          </div>
          <div class="card-desc">
            <p class="article-desc">
              U.S. Secretary of State Mike Pompeo, who was on an official visit
              to Vietnam on the occasion of the 25th anniversary of bilateral
              diplomatic ties, affirmed that the U.S. is committed to
              maintaining stable relations and cooperation with Vietnam during
              his talks with Vietnam’s Deputy Prime Minister and Foreign
              Minister Pham Binh Minh in Hanoi on Friday morning.
            </p>
          </div>
        </div>
        <div class="news-card right-border">
          <div class="card-title">
            <a href="" class="article-title">
              Japanese news agency spotlights PM Yoshihide Suga’s Vietnam visit
            </a>
          </div>
          <div class="card-desc">
            <p class="article-desc">
              Japanese news agency Kyodo ran articles highlighting Prime
              Minister Yoshihide Suga’s official visit to Vietnam, including his
              talks with his Vietnamese counterpart Nguyen Xuan Phuc on Monday,
              during which the two are expected to discuss numerous issues,
              particularly economic cooperation.
            </p>
          </div>
        </div>
      </div>

      <div class="center-panel">
        <div class="title">
          <a href="" class="category-name">Politics</a>
        </div>
        <div class="news-card center-border">
          <img src="./images/politic1-sm.jpg" loading="lazy" alt="" />
          <div class="card-title">
            <a href="" class="article-title">
              Japan’s Prime Minister Yoshihide Suga arrives in Vietnam for
              official visit
            </a>
          </div>
          <div class="card-desc">
            <p class="article-desc">
              ISTANBUL -- The death toll from Friday’s earthquake in the Aegean
              Sea has reached 100, with the deaths of 98 people in Turkey’s
              western city of Izmir, disaster authorities said.
            </p>
          </div>
        </div>
      </div>

      <div class="right-panel">
        <div class="news-card left-border">
          <div class="card-title">
            <a href="" class="article-title">
              Nguyen Van Quang elected as Da Nang Party chief for 2020-25 tenure
            </a>
          </div>
          <div class="card-desc">
            <p class="article-desc">
              Nguyen Van Quang, who was previously deputy secretary of the Party
              Committee in Da Nang, has been elected as the city’s Party chief
              for the next five years.
            </p>
          </div>
        </div>

        <div class="news-card left-border">
          <div class="card-title">
            <a href="" class="article-title">
              Vietnam plays a key role in Free and Open Indo-Pacific strategy,
              Japanese PM Suga says
            </a>
          </div>
          <div class="card-desc">
            <p class="article-desc">
              Vietnam is an important partner of Japan and plays a key role in
              realizing the Free and Open Indo-Pacific strategy, said Japanese
              Prime Minister Yoshihide Suga.
            </p>
          </div>
        </div>

        <div class="news-card left-border">
          <div class="card-title">
            <a href="" class="article-title">
              Hanoi Party chief re-elected for 2020-25 tenure
            </a>
          </div>
          <div class="card-desc">
            <p class="article-desc">
              Vuong Dinh Hue has been re-elected as secretary of the Hanoi Party
              Committee for the 2020-25 tenure.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
