<div class="header wrapper">
  <!-- TOP BAR -->
  <div class="topbar">
    <div class="section-dropdown flex-row">
      <button id="sidenav_trigger">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
        </svg>
        <p>SECTIONS</p>
      </button>
    </div>

    <p class="date">Sunday, November 1, 2020</p>

    <div class="flex-row">
      <form action="#" id="searchform" class="flex-row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
          />
        </svg>
        <p>SEARCH</p>
      </form>
      <button id="btn-login">Log in</button>
    </div>
  </div>
  <hr class="dash" />

  <!-- TITLE -->
  <div id="page-title">
    <a href="/">The Pen Daily</a>
  </div>

  <hr class="dash" />

  <!-- CATEGORIES LINKS -->
  <ul class="nav flex-row">
    <li><a href="#" class="nav-item">Vietnam</a></li>
    <li><a href="#" class="nav-item">International</a></li>
    <li><a href="#" class="nav-item">Politics</a></li>
    <li><a href="#" class="nav-item">Society</a></li>
    <li><a href="#" class="nav-item">Business</a></li>
    <li><a href="#" class="nav-item">Lifestyle</a></li>
    <li><a href="#" class="nav-item">Features</a></li>
    <li><a href="#" class="nav-item">Sport</a></li>
    <li><a href="#" class="nav-item">City diary</a></li>
    <li><a href="#" class="nav-item">Education</a></li>
    <li><a href="#" class="nav-item">Media</a></li>
  </ul>
  <hr class="dash" />
</div>
