<div class="header wrapper">
  <!-- TOP BAR -->
  <%- include('topBar/topBar'); %>
  <hr class="dash" />

  <!-- TITLE -->
  <%- include('pageTitle/pageTitle'); %>
  <hr class="dash" />

  <!-- CATEGORIES LINKS -->
  <%- include('categoryLinks/categoryLinks'); %>
  <hr class="dash" />
</div>
