<div class="header wrapper">
  <!-- TOP BAR -->
  <div class="topbar">
    <div class="section-dropdown flex-row">
      <button>
        <img src="/images/icons/menu-24px.svg" alt="Menu" />
        <p>SECTIONS</p>
      </button>
    </div>

    <p class="date">Sunday, November 1, 2020</p>

    <div class="flex-row">
      <form action="#" id="searchform" class="flex-row">
        <img src="/images/icons/search-24px.svg" alt="" />
        <p>SEARCH</p>
      </form>
      <!-- <button id="btn-login">Log in</button> -->
    </div>
  </div>
  <hr class="dash" />

  <!-- TITLE -->
  <div id="page-title">
    <a href="#">The Pen Daily</a>
  </div>

  <hr class="dash" />

  <!-- CATEGORIES LINKS -->
  <ul class="nav flex-row">
    <li><a href="#" class="nav-item">Vietnam</a></li>
    <li><a href="#" class="nav-item">International</a></li>
    <li><a href="#" class="nav-item">Politics</a></li>
    <li><a href="#" class="nav-item">Society</a></li>
    <li><a href="#" class="nav-item">Business</a></li>
    <li><a href="#" class="nav-item">Lifestyle</a></li>
    <li><a href="#" class="nav-item">Features</a></li>
    <li><a href="#" class="nav-item">Sport</a></li>
    <li><a href="#" class="nav-item">City diary</a></li>
    <li><a href="#" class="nav-item">Education</a></li>
    <li><a href="#" class="nav-item">Media</a></li>
  </ul>
  <hr class="dash" />
</div>
