.search-input {
  background: none;
  border-color: #000;
  border-width: 0 0 1px;
  transition: all 0.8s ease-in-out;
  width: 0px;

  ~ label {
    width: auto;
    transition: 0.3s width ease;
    overflow: hidden;
  }

  &:focus {
    outline: none;
    border-radius: 0 15px 15px 0;
    width: 250px;
    ~ button {
      &.btn-search {
        color: #fff;
        left: 222px;
        transform: rotate(720deg);
      }
    }

    ~ label {
      width: 0;
    }
  }
}
