$topbar-font: "Roboto", serif;
$date-font: "PT Serif", Serif;

$page-title-font: "Bitter";
$category-font: "Roboto";
$btn-font: "Roboto";
$article-title-font: "Merriweather";
$article-link-font: "PT Serif";
$article-description-font: "PT Serif";
$post-font: "PT Serif";

$bg-color: #f2f2f2;
$topbar-color: #444444;
$title-color: #434343;
$description-color: #222222;
$button-color: #0c79ff;
$category-color: #dfdfdf;

$hr-border-color: #cccccc;
$footer-color: #333333;

$desktop: "(min-width: 1024px)";
$tablet: "(max-width: 1023px)";
$smartphone: "(max-width: 767px)";
