@import 'writer-nav';
@import 'profile';
@import 'context_menu';
@import 'toast';
@import 'variables';

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

main {
  min-height: 100vh;
  margin-left: 7rem;
  margin-right: 6rem;
  position: relative;
}

.header {
  padding: 2rem 3rem;
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.card-container {
  z-index: 0;
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  position: relative;

  .card {
    cursor: pointer;
    position: relative;
    background: white;
    border-radius: 24px;
    padding: 1rem;
    max-height: 30rem;
    box-shadow: 1px 1px 10px -5px #000000;

    &:hover {
      box-shadow: 4px 4px 15px -5px #000000;
    }
  }
}

.content {
  h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .tables {
    tr {
      cursor: pointer;
      &:hover {
        background-color: $hr-border-color;
      }
    }
    th {
      text-align: start;

      &:hover {
        text-decoration: underline;
      }
    }

    input[type='search'] {
      background: white;
    }
  }
}

#contact-tab {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
