@import "global";
@import "header";

.minimized-header {
  //position: sticky;
}

main.wrapper {
  margin-top: 4rem;
  font-family: $post-font;
}

.editor {
}

#title-editor {
  border: 1px solid $hr-border-color;
  margin: 1rem auto;
  min-height: 5rem;
  text-align: center;
}
