@import 'footer';
@import 'global';
@import 'success_animation';

body {
  max-width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0.4rem;
  #page-title {
    font-family: $page-title-font;
    color: $title-color;
    font-size: 1.5rem;
  }
}

.login-container {
  height: 95vh;
  width: 100%;
  overflow: hidden;
  @include overlay-bg(
    rgba(242, 242, 242, 0.52),
    rgba(51, 51, 51, 0.73),
    '/images/login-bg.jpg'
  );
  display: flex;
  justify-content: center;
  align-items: center;

  .success {
    display: none;
  }

  form {
    background: $bg-color;
    border-radius: 14px;
    box-shadow: 1px 1px 16px 4px rgba(0, 0, 0, 0.43);
    overflow: hidden;
    width: 300px;
    padding-top: 1rem;

    p {
      margin: 1rem 1.5rem;
      color: red;
    }

    svg {
      background-color: $bg-color;
      width: 3.5rem;
      height: 3.5rem;
      display: block;
      margin: 0 auto;
    }

    .field {
      margin: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      label {
        font-size: 1rem;
        font-family: $page-title-font;
      }

      input {
        width: 100%;
        font-size: 1.2rem;
        padding: 0.3rem;
        border: 2px solid $hr-border-color;
        border-radius: 5px;
      }
    }

    .signup {
      text-align: center;
      margin: 0.5rem 0;
    }

    .agree {
      margin: 1rem 1.5rem;
      word-wrap: break-word;
      font-size: 0.8rem;
      a {
        text-decoration: underline;
      }
    }

    button {
      height: 3rem;
      width: 100%;
      border: 0;
      color: white;
      background-color: $footer-color;
      transition: all ease-in-out 0.4s;
      cursor: pointer;
      font-family: $btn-font;
      font-size: 1rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &.done {
    form.success {
      display: block;
      margin-bottom: 1rem;

      p {
        font-size: 1rem;
        font-family: 'Bitter';
        text-align: center;
      }
    }

    form {
      display: none;
    }
  }
}

footer {
  margin-top: 0;
}
