<div id="edu-news">
  <div><a href="" class="category-name">EDUCATION</a></div>
  <div class="news-card right-border">
    <img src="./images/edu1-sm.jpg" alt="" loading="lazy" />
    <div class="card-title">
      <a href="" class="article-title">
        Ten Vietnamese teams to compete at 2020 ASEAN Information Security
        Contest
      </a>
    </div>
    <div class="card-desc">
      <p class="article-desc">
        Ten Vietnamese teams and six others from ASEAN countries will take part
        in the final round of the 2020 ASEAN Student Contest on Information
        Security later this month.
      </p>
    </div>
  </div>

  <h1>Read more</h1>
  <ul class="post-list">
    <li class="link-item">
      <a href=""
        >Whirlwind damages Ho Chi Minh City campus, causes school closure for
        2,000 students</a
      >
    </li>
    <li class="link-item">
      <a href=""
        >​Vietnamese universities short of international students amid COVID-19
        pandemic</a
      >
    </li>
    <li class="link-item">
      <a href=""
        >​Vietnamese student carrying friend piggyback in decade gets free
        admission to university</a
      >
    </li>
    <li class="link-item">
      <a href="">​Ride-hailing app driver in Saigon to start college at 35</a>
    </li>
    <li class="link-item">
      <a href="">Three Vietnamese among IELTS Prize winners of 2019-20</a>
    </li>
    <li class="link-item">
      <a href="">Vietnamese professor appointed 6G research chair in UK</a>
    </li>
  </ul>
</div>
