<main id="site-content" class="wrapper">
  <!-- COVER PAGE -->
  <%- include('coverPage/coverPage'); %>
  <hr />

  <!-- WORLD - EDUCATION - SPORT NEWS -->
  <%- include('wesNews/wesNews'); %>
  <hr />

  <!-- FEATURES NEWS -->
  <%- include('featuresNews/featuresNews'); %>
  <hr />

  <!-- POLITICS -->
  <%- include('politicsNews/politicsNews'); %>
</main>
