<div id="breakfast-news">
  <a href="" class="category-name">breakfast news</a>
  <a href="" class="article-title">Busy?<br />Here is all you need!</a>
  <p class="article-desc">
    <b>Politics</b><br />
    -- Vietnam’s lawmaking National Assembly began the second phase...
    <br /><b>Society</b><br />
    -- Tropical Storm Goni was located at 450 kilometers southeast of Vietnam's
    Hoang Sa...
    <br />
    <b>Business</b><br />
    -- Multiple measures have been suggested for the agriculture sector ...
  </p>
  <a href="" class="redirect-link">See all</a>
</div>
