<div id="footer-news">
  <h1 class="article-title">News</h1>
  <ul class="footer-news-info">
    <li><a href="" class="article-desc">Homepage</a></li>
    <li><a href="" class="article-desc">Vietnam</a></li>
    <li><a href="" class="article-desc">International</a></li>
    <li><a href="" class="article-desc">Politics</a></li>
    <li><a href="" class="article-desc">Lifestyle</a></li>
    <li><a href="" class="article-desc">Sport</a></li>
    <li><a href="" class="article-desc">Education</a></li>
  </ul>
</div>
