<div id="lifestyle-news">
  <div class="flex-row">
    <a href="" class="category-name">LIFESTYLES</a>
    <a href="" class="redirect-link">View all</a>
  </div>
  <div>
    <ul class="img-list">
      <li class="img-card box animation">
        <img src="/images/lifestyle1-sm.jpg" loading="lazy" alt="lifestyle1" />
        <div class="img-title">
          <a href="/post/5fba33d7317e511d2021828a">
            BritCham Vietnam’s Fun Run 2020 upholds charitable spirit</a>
        </div>
      </li>
      <li class="img-card box animation">
        <img src="/images/lifestyle2-sm.jpg" loading="lazy" alt="lifestyle2" />
        <div class="img-title">
          <a href="/post/5fba33d6317e511d20218287">
            Hunting for clouds in Vietnam's remote northern highlands</a>
        </div>
      </li>
      <li class="img-card box animation">
        <img src="/images/lifestyle3-sm.jpg" loading="lazy" alt="lifestyle3" />
        <div class="img-title">
          <a href="/post/5fba33d8317e511d2021828e">
            Dried persimmons: The sun-kissed autumn treat of Da Lat
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>