<div id="lifestyle-news">
  <div class="flex-row">
    <a href="" class="category-name">LIFESTYLES</a>
    <a href="" class="redirect-link">View all</a>
  </div>
  <div class="glider-contain">
    <ul class="img-list glider">
      <li class="img-card box animation">
<<<<<<< HEAD
        <img src="./images/lifestyle1-sm.jpg" loading="lazy" alt="lifestyle1" />
=======
        <img src="./images/lifestyle1.jpg" alt="lifestyle1" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="img-title">
          <a href="">
            Hunting for clouds in Vietnam's remote northern highlands</a
          >
        </div>
      </li>
      <li class="img-card box animation">
<<<<<<< HEAD
        <img src="./images/lifestyle2-sm.jpg" loading="lazy" alt="lifestyle2" />
=======
        <img src="./images/lifestyle2.jpg" alt="lifestyle2" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="img-title">
          <a href="">
            BritCham Vietnam’s Fun Run 2020 upholds charitable spirit</a
          >
        </div>
      </li>
      <li class="img-card box animation">
<<<<<<< HEAD
        <img src="./images/lifestyle3-sm.jpg" loading="lazy" alt="lifestyle3" />
=======
        <img src="./images/lifestyle3.jpg" alt="lifestyle3" />
>>>>>>> cea940c0f2d06dcea80e31c40cbea0445e68d1ed
        <div class="img-title">
          <a href="">Dried persimmons: The sun-kissed autumn treat of Da Lat</a>
        </div>
      </li>
    </ul>
    <div role="tablist" class="dots"></div>
  </div>
</div>
