<aside>
  <div class="recommendation">
    <a class="category-name">More from Lifestyle</a>
    <div>
      <div class="recommended-post">
        <img src="../images/lifestyle1.jpg" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <a href=""
            >BritCham Vietnam’s Fun Run 2020 upholds charitable spirit amid
            health crisis
          </a>
        </div>
      </div>
      <div class="recommended-post">
        <img src="../images/lifestyle2.jpg" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <a href="">
            Hunting for clouds in Vietnam's remote northern highlands</a
          >
        </div>
      </div>
      <div class="recommended-post">
        <img src="../images/lifestyle4.jpg" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <a href="">
            Vietnam leaves lasting impression at 2020 Aerial Photography
            Awards</a
          >
        </div>
      </div>

      <div class="recommended-post">
        <img src="../images/lifestyle1.jpg" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <a href=""
            >BritCham Vietnam’s Fun Run 2020 upholds charitable spirit amid
            health crisis
          </a>
        </div>
      </div>
      <div class="recommended-post">
        <img src="../images/lifestyle2.jpg" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <a href="">
            Hunting for clouds in Vietnam's remote northern highlands</a
          >
        </div>
      </div>
      <div class="recommended-post">
        <img src="../images/lifestyle4.jpg" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <a href="">
            Vietnam leaves lasting impression at 2020 Aerial Photography
            Awards</a
          >
        </div>
      </div>
    </div>
  </div>
</aside>
