<aside>
  <div class="recommendation">
    <a class="category-name"><%= label %> </a>
    <div>
      <a href="/post/5fba33d7317e511d2021828a" class="recommended-post">
        <img src="/images/lifestyle1-sm.jpg" loading="lazy" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <p class="a">
            BritCham Vietnam’s Fun Run 2020 upholds charitable spirit amid
            health crisis
          </p>
        </div>
      </a>
      <a href="/post/5fba33d6317e511d20218287" class="recommended-post">
        <img src="/images/lifestyle2-sm.jpg" loading="lazy" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <p class="a">
            Hunting for clouds in Vietnam's remote northern highlands
          </p>
        </div>
      </a>
      <a href="/post/5fba33d8317e511d2021828e" class="recommended-post">
        <img src="/images/lifestyle3-sm.jpg" loading="lazy" alt="" />
        <div class="recommended-post-title">
          <p class="date">Sunday, November 1, 18:00</p>
          <p class="a">
            Dried persimmons: The sun-kissed autumn treat of Da Lat
          </p>
        </div>
      </a>
    </div>
  </div>
</aside>
