.danger {
  color: #9b0000;
}

.safe {
  color: green !important;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter"), url("../../fonts/Bitter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("../../fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("../../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: local("PT Serif"), url("../../fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: local("PT Serif"), url("../../fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: local("CrimsonPro"), url("../../fonts/CrimsonPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: local("CrimsonPro"), url("../../fonts/CrimsonPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** GLOBAL ---------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

html {
  background: #f2f2f2;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 2%;
  color: #222222;
  max-width: 90%;
  margin: auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a,
.a {
  text-decoration: none;
  color: #222222;
  font-family: "PT Serif";
}

a.div {
  display: block;
}

hr {
  border: none;
  margin: 0 1rem;
  border-top: 1px solid #cccccc;
}

hr.dash {
  border-top: 1px dashed #cccccc;
}

ul li {
  list-style: none;
}

.article-title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 1.1rem;
}

.article-desc {
  font-family: "PT Serif";
  font-size: 0.9rem;
  line-height: 1.3;
}

.date {
  font-family: "PT Serif", Serif;
  color: #8b8b8b;
  font-size: 0.8rem;
}

/** CATEGORY NAME */
.category-name {
  font-family: "Roboto";
  text-transform: uppercase;
  padding: 0.4rem;
  font-weight: 500;
  font-size: 0.7rem;
  background-color: #dfdfdf;
}

/** VIEW ALL LINK */
.redirect-link {
  color: #0c79ff;
  font-family: "Roboto";
  font-size: 0.9rem;
  padding: 0.5rem;
}

/** BOTTOM BORDER */
.center-border::after {
  margin: 1rem 0;
  height: 1px;
  display: block;
  width: 60%;
  background: #cccccc;
  content: '';
  margin: 1rem auto;
}

.right-border::after {
  margin: 1rem 0;
  height: 1px;
  display: block;
  width: 60%;
  background: #cccccc;
  content: '';
  margin-left: auto;
}

.left-border::after {
  margin: 1rem 0;
  height: 1px;
  display: block;
  width: 60%;
  background: #cccccc;
  content: '';
  margin-right: auto;
}

/** SUBSCRIBE FORM---------------------------*/
.subscribe-form label {
  color: #0c79ff;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 0.8rem;
  gap: 0;
}

.subscribe-form input {
  margin: 0.8rem 0;
  padding: 0.3rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid #0c79ff;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.subscribe-form input[type='email']:focus {
  outline: none;
}

.subscribe-form input[type='email']:invalid {
  border-bottom-color: red;
}

.subscribe-form button {
  padding: 0.3rem;
  margin: 0;
  background-color: #0c79ff;
  color: white;
  border: 2px solid #0c79ff;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

/** LOGO - TITLE TEMPLATE---------------------------*/
.title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.title-logo span {
  fill: #333333;
  font-size: 1.5rem;
  font-family: "Bitter";
  font-weight: bold;
}

.title-logo svg {
  fill: #333333;
  height: 3rem;
  width: 3rem;
}

.nav {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: fixed;
  min-width: 6rem;
  z-index: 2;
}

.nav .nav__list {
  width: 4.5rem;
  background: white;
  padding: 6rem 0.4rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
  gap: 1rem;
  overflow: hidden;
}

.nav .nav__list .nav__item {
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  position: relative;
}

.nav .nav__list .nav__item .nav__icon,
.nav .nav__list .nav__item .nav__icon path {
  max-width: 3rem;
  min-width: 2rem;
}

.nav .nav__list .nav__item .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  gap: 0.4rem;
}

.nav .nav__list .nav__item .nav__link .nav__text {
  height: 100%;
  font-size: 1.1rem;
  font-family: "Roboto";
  display: none;
  position: relative;
}

.nav .nav__list .nav__item button.nav__link {
  width: 100%;
}

.nav .nav__list .nav__item button.nav__link:focus {
  outline: none;
}

.nav .nav__list .nav__item:hover {
  background-color: #333333;
  border-radius: 20px;
}

.nav .nav__list .nav__item:hover .nav__icon {
  fill: white;
}

.nav .nav__list .nav__item:hover .nav__text {
  color: white;
}

.nav .nav__list .active .nav__icon {
  fill: #6563ff;
}

.nav .nav__list .active span {
  color: #6563ff;
}

.nav .nav__list:hover .nav__text {
  display: block !important;
}

@media (min-width: 769px) {
  .nav .nav__list:hover {
    width: 15rem;
  }
}

@media (max-width: 1024px) {
  .nav {
    left: 0;
    height: 10vh;
    width: 100%;
    bottom: 0;
  }
  .nav .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem 0.2rem;
    border: 3px solid #333333;
    gap: 0.3rem;
  }
  .nav .nav__list .nav__item .nav__icon {
    width: 2rem;
  }
  .nav .nav__list:hover .nav__text {
    display: none !important;
  }
}

.danger {
  color: #9b0000;
}

.safe {
  color: green !important;
}

/** Profile---------------------------*/
.profile {
  background: white;
  padding: 1.2rem;
}

@media (max-width: 1024px) {
  .profile {
    padding: 0.4rem;
  }
}

#edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#edit button:focus {
  outline: none;
}

#edit svg {
  width: 1.5rem;
  height: 1.5rem;
}

#edit span {
  font-size: 1.5rem;
  display: none;
}

#edit.on svg {
  display: none;
}

#edit.on span {
  display: block;
}

.avatar {
  padding: 2rem 0.4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar span {
  font-size: 1.5rem;
  font-family: "Merriweather";
  font-weight: bold;
}

.statistics {
  margin-bottom: 4rem;
  font-family: "Roboto";
}

.statistics .statistics__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics .statistics__entry:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}

.statistics .statistics__entry .description,
.statistics .statistics__entry .quantity {
  font-size: 1.2rem;
}

.statistics .statistics__entry .description:hover {
  outline: none;
  color: #6563ff;
}

.statistics .statistics__entry .quantity {
  font-weight: 500;
}

.small .avatar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}

.small .avatar-container svg {
  height: 8rem;
  width: 8rem;
}

.small .avatar-container .avatar {
  padding: 0;
}

.small .avatar-container .avatar > span {
  display: none;
}

.small .avatar-container .statistics .statistics__entry {
  gap: 2rem;
  padding: 0.5rem 1rem;
}

.small .avatar-container .statistics .description,
.small .avatar-container .statistics .quantity {
  font-size: 1rem;
}

.small .info {
  width: 100%;
  height: auto;
  visibility: visible;
  overflow: hidden;
}

.info {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  white-space: nowrap;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.info form h2 {
  margin-top: 1.2rem;
  font-size: 1.5rem;
  color: #333333;
}

.info form button {
  padding: 0.4rem 1.2rem;
  margin-left: 3rem;
  background: #0c79ff;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px gray;
          box-shadow: 1px 2px 3px gray;
  cursor: pointer;
}

.info form button:hover {
  opacity: 0.8;
}

.info form .input-info {
  padding: 0.6rem;
  display: block;
}

.info form .input-info:nth-of-type(2-n) {
  width: 50%;
  float: right;
}

.info form .input-info label {
  font-size: 1.1rem;
  font-family: #cccccc;
}

.info form .input-info input {
  margin-top: 0.3rem;
  display: block;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.info form .input-info input:focus {
  outline: none;
}

.info form .input-info input:disabled {
  opacity: 0.7;
}

#menu {
  display: block;
  background-color: white;
  padding: 10px 0px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 30px lightgrey;
          box-shadow: 2px 2px 30px lightgrey;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: 100;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}

#menu.show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.menu-item {
  display: block;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #666;
  font-size: 14px;
  width: 100%;
}

.menu-item svg {
  width: 1.5rem;
  height: 1.5rem;
}

.menu-item .danger svg {
  fill: red;
}

.menu-item a {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.menu-item :hover {
  background-color: #eee;
  cursor: pointer;
}

#outClick {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

#toast {
  border-radius: 15px;
  width: 0;
  height: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  background: white;
  font-size: 0.9rem;
  position: fixed;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
}

#toast.show {
  width: auto;
  height: auto;
  padding: 5px 15px;
  -webkit-box-shadow: 1px 1px 5px 1px black;
          box-shadow: 1px 1px 5px 1px black;
}

.danger {
  color: #9b0000;
}

.safe {
  color: green !important;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

main {
  min-height: 100vh;
  margin-left: 7rem;
  margin-right: 6rem;
  position: relative;
}

.header {
  padding: 2rem 3rem;
}

.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container {
  z-index: 0;
  margin: 2rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  position: relative;
}

.card-container .card {
  cursor: pointer;
  position: relative;
  background: white;
  border-radius: 24px;
  padding: 1rem;
  max-height: 30rem;
  -webkit-box-shadow: 1px 1px 10px -5px #000000;
          box-shadow: 1px 1px 10px -5px #000000;
}

.card-container .card:hover {
  -webkit-box-shadow: 4px 4px 15px -5px #000000;
          box-shadow: 4px 4px 15px -5px #000000;
}

.content h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.content .tables tr {
  cursor: pointer;
}

.content .tables tr:hover {
  background-color: #cccccc;
}

.content .tables th {
  text-align: start;
}

.content .tables th:hover {
  text-decoration: underline;
}

.content .tables input[type='search'] {
  background: white;
}

#contact-tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
}
