.danger {
  color: #9b0000;
}

.safe {
  color: green;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter"), url("../../fonts/Bitter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("../../fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("../../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: local("PT Serif"), url("../../fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: local("PT Serif"), url("../../fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: local("CrimsonPro"), url("../../fonts/CrimsonPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: local("CrimsonPro"), url("../../fonts/CrimsonPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** GLOBAL ---------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

html {
  background: #f2f2f2;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 2%;
  color: #222222;
  max-width: 90%;
  margin: auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
  color: #222222;
  font-family: "PT Serif";
}

hr {
  border: none;
  margin: 0 1rem;
  border-top: 1px solid #cccccc;
}

hr.dash {
  border-top: 1px dashed #cccccc;
}

ul li {
  list-style: none;
}

.article-title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 1.1rem;
}

.article-desc {
  font-family: "PT Serif";
  font-size: 0.9rem;
  line-height: 1.3;
}

.date {
  font-family: "PT Serif", Serif;
  color: #8b8b8b;
  font-size: 0.8rem;
}

/** CATEGORY NAME */
.category-name {
  font-family: "Roboto";
  text-transform: uppercase;
  padding: 0.4rem;
  font-weight: 500;
  font-size: 0.7rem;
  background-color: #dfdfdf;
}

/** VIEW ALL LINK */
.redirect-link {
  color: #0c79ff;
  font-family: "Roboto";
  font-size: 0.9rem;
  padding: 0.5rem;
}

/** BOTTOM BORDER */
.center-border::after {
  margin: 1rem 0;
  height: 1px;
  display: block;
  width: 60%;
  background: #cccccc;
  content: "";
  margin: 1rem auto;
}

.right-border::after {
  margin: 1rem 0;
  height: 1px;
  display: block;
  width: 60%;
  background: #cccccc;
  content: "";
  margin-left: auto;
}

.left-border::after {
  margin: 1rem 0;
  height: 1px;
  display: block;
  width: 60%;
  background: #cccccc;
  content: "";
  margin-right: auto;
}

/** SUBSCRIBE FORM---------------------------*/
.subscribe-form label {
  color: #0c79ff;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 0.9rem;
  gap: 0;
}

.subscribe-form input {
  margin: 0.8rem 0;
  padding: 0.3rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid #0c79ff;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.subscribe-form input[type="email"]:focus {
  outline: none;
}

.subscribe-form input[type="email"]:invalid {
  border-bottom-color: red;
}

.subscribe-form button {
  padding: 0.3rem;
  margin: 0;
  background-color: #0c79ff;
  color: white;
  border: 2px solid #0c79ff;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

/** LOGO - TITLE TEMPLATE---------------------------*/
.title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.title-logo span {
  fill: #333333;
  font-size: 1.5rem;
  font-family: "Bitter";
  font-weight: bold;
}

.title-logo svg {
  fill: #333333;
  height: 3rem;
  width: 3rem;
}

nav {
  z-index: 1;
  display: block;
  position: fixed;
  width: 480px;
  height: 480px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate3d(20px, -20px, 0);
          transform: translate3d(20px, -20px, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}

nav.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

nav.top-right {
  top: -152px;
  right: -152px;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 18px "Bitter", sans-serif;
  line-height: 32px;
  padding-top: 8px;
  border-radius: 240px;
  -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}

.disc div {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: tomato;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l1:hover {
  background: shade(tomato, 90%);
  color: white;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l1:active {
  background: shade(tomato, 50%);
  color: tomato;
}

.open .l1.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background: #ff763b;
  -webkit-transition-delay: 0.08333s;
          transition-delay: 0.08333s;
}

.open .l2 {
  -webkit-transition-delay: 0.08333s;
          transition-delay: 0.08333s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l2:hover {
  background: shade(#ff763b, 90%);
  color: white;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l2:active {
  background: shade(#ff763b, 50%);
  color: #ff763b;
}

.open .l2.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 80px;
  left: 80px;
  right: 80px;
  bottom: 80px;
  background: #ff8a2f;
  -webkit-transition-delay: 0.16667s;
          transition-delay: 0.16667s;
}

.open .l3 {
  -webkit-transition-delay: 0.16667s;
          transition-delay: 0.16667s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l3:hover {
  background: shade(#ff8a2f, 90%);
  color: white;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l3:active {
  background: shade(#ff8a2f, 50%);
  color: #ff8a2f;
}

.open .l3.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 120px;
  left: 120px;
  right: 120px;
  bottom: 120px;
  background: #ff9d24;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.open .l4 {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l4:hover {
  background: shade(#ff9d24, 90%);
  color: white;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l4:active {
  background: shade(#ff9d24, 50%);
  color: #ff9d24;
}

.open .l4.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
  top: 160px;
  left: 160px;
  right: 160px;
  bottom: 160px;
  background: #ffb018;
  -webkit-transition-delay: 0.33333s;
          transition-delay: 0.33333s;
}

.open .l5 {
  -webkit-transition-delay: 0.33333s;
          transition-delay: 0.33333s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l5:hover {
  background: shade(#ffb018, 90%);
  color: white;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l5:active {
  background: shade(#ffb018, 50%);
  color: #ffb018;
}

.open .l5.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l6 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #ffc40c;
  -webkit-transition-delay: 0.41667s;
          transition-delay: 0.41667s;
}

.open .l6 {
  -webkit-transition-delay: 0.41667s;
          transition-delay: 0.41667s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l6:hover {
  background: shade(#ffc40c, 90%);
  color: white;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .l6:active {
  background: shade(#ffc40c, 50%);
  color: #ffc40c;
}

.open .l6.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 80px;
  padding: 0;
  width: 80px;
  background: gold;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.open .toggle {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
          transform: rotate3d(0, 0, 1, 0deg);
}

.toggle:hover {
  background: shade(gold, 90%);
  text-decoration: underline;
}

.toggle:active {
  background: shade(gold, 50%);
  color: rgba(255, 215, 0, 0.5);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

@media (max-width: 767px) {
  nav {
    z-index: 3;
  }
}

html {
  background: -webkit-gradient(linear, right top, left top, from(beige), to(white)), url("/images/adv-bg.png") bottom right no-repeat fixed;
  background: linear-gradient(to left, beige, white), url("/images/adv-bg.png") bottom right no-repeat fixed;
  background-size: contain;
}

body {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #333333;
  border-radius: 4px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-block .input-label {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  opacity: 0.9;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-block input,
.input-block textarea {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 1rem;
  font-family: sans-serif;
  border-radius: 12px;
}

.input-block input::-webkit-input-placeholder,
.input-block textarea::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

.input-block input:-ms-input-placeholder,
.input-block textarea:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

.input-block input::-ms-input-placeholder,
.input-block textarea::-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

.input-block input::placeholder,
.input-block textarea::placeholder {
  color: #cccccc;
  opacity: 1;
}

.input-block:focus-within {
  border-color: #333333;
}

.input-block:focus-within .input-label {
  color: #cccccc;
  opacity: 0.8;
}

button {
  padding: 0.4rem 1.2rem;
  background: #0c79ff;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px gray;
          box-shadow: 1px 2px 3px gray;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/** Container---------------------------*/
.container {
  z-index: 3;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 1px 1px 20px -4px black;
          box-shadow: 1px 1px 20px -4px black;
  border-radius: 15px;
  overflow: hidden;
}

/** BOARD---------------------------*/
.board {
  display: block;
  text-align: center;
  overflow: hidden;
}

.board .title-logo {
  cursor: pointer;
  padding: 2rem;
  width: 100%;
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.board .title-logo span {
  font-size: 2rem;
}

.board .title-logo:hover {
  background-color: #333333;
}

.board .title-logo:hover span {
  color: white;
}

.board .title-logo:hover svg path {
  fill: white;
}

.board .board_description {
  margin-top: 0.4rem;
  text-align: center;
  width: 100%;
  font-size: 1.3rem;
  color: #aaaaaa;
}

.board .board_description svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: #aaaaaa;
}

/** FORM---------------------------*/
form {
  padding: 2rem;
}

form .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  color: #333333;
}

form .content h1 {
  text-align: center;
  font-family: "Merriweather";
}

form .content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333333;
  font-family: "PT Serif";
}

.pseudo-bg {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.15;
  z-index: 2;
}

#modal {
  display: none;
}

#modal.in {
  display: block;
  -webkit-animation: unfoldIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal.in .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 3rem 2rem;
  -webkit-animation: zoomIn 0.5s 0.65s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomIn 0.5s 0.65s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal.in + .pseudo-bg {
  -webkit-transition-delay: 0.65;
          transition-delay: 0.65;
  width: 100%;
  height: 100%;
}

#modal.out {
  display: block;
  -webkit-animation: unfoldOut 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldOut 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal.out .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 3rem 2rem;
  -webkit-animation: zoomOut 0.5s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomOut 0.5s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    height: 1px;
    -webkit-transform: scale(0) translate(-100%, -50%);
            transform: scale(0) translate(-100%, -50%);
  }
  50% {
    height: 10rem;
    -webkit-transform: scaleX(1) scaleY(0.3) translate(-50%, -50%);
            transform: scaleX(1) scaleY(0.3) translate(-50%, -50%);
  }
  100% {
    height: auto;
    width: auto;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes unfoldIn {
  0% {
    height: 1px;
    -webkit-transform: scale(0) translate(-100%, -50%);
            transform: scale(0) translate(-100%, -50%);
  }
  50% {
    height: 10rem;
    -webkit-transform: scaleX(1) scaleY(0.3) translate(-50%, -50%);
            transform: scaleX(1) scaleY(0.3) translate(-50%, -50%);
  }
  100% {
    height: auto;
    width: auto;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@-webkit-keyframes unfoldOut {
  50% {
    height: 10rem;
    background: #333333;
    -webkit-transform: scaleX(1) scaleY(0.3) translate(-50%);
            transform: scaleX(1) scaleY(0.3) translate(-50%);
  }
  100% {
    height: 1px;
    background: #333333;
    -webkit-transform: scale(0) translate(-50%);
            transform: scale(0) translate(-50%);
  }
}

@keyframes unfoldOut {
  50% {
    height: 10rem;
    background: #333333;
    -webkit-transform: scaleX(1) scaleY(0.3) translate(-50%);
            transform: scaleX(1) scaleY(0.3) translate(-50%);
  }
  100% {
    height: 1px;
    background: #333333;
    -webkit-transform: scale(0) translate(-50%);
            transform: scale(0) translate(-50%);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .container {
    display: none;
  }
  #particles-js {
    display: none !important;
  }
  #modal {
    margin-top: 4rem;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    overflow: auto;
  }
}
/*# sourceMappingURL=advertise.css.map */