<form class="modal-form" action="#">
  <label for="category">Category</label>
  <input
    class="bubble"
    type="text"
    name="category"
    placeholder="Choose your post category"
  />
  <label for="tags">Tags</label>
  <div class="tag-container">
    <input />
  </div>
</form>
