<div id="help">
  <h1 class="article-title">Contact us</h1>
  <ul class="footer-news-info">
    <li><a href="" class="article-desc">Licensing & Syndication</a></li>
    <li><a href="" class="article-desc">Contact the Newsroom</a></li>
    <li><a href="" class="article-desc">Advertise</a></li>
    <li><a href="" class="article-desc">Request a Correction</a></li>
    <li><a href="" class="article-desc">Send a new tip</a></li>
  </ul>
</div>
