<ul class="nav flex-row">
    <li><a href="#" class="nav-item">Vietnam</a></li>
    <li><a href="#" class="nav-item">International</a></li>
    <li><a href="#" class="nav-item">Politics</a></li>
    <li><a href="#" class="nav-item">Society</a></li>
    <li><a href="#" class="nav-item">Business</a></li>
    <li><a href="#" class="nav-item">Lifestyle</a></li>
    <li><a href="#" class="nav-item">Features</a></li>
    <li><a href="#" class="nav-item">Sport</a></li>
    <li><a href="#" class="nav-item">City diary</a></li>
    <li><a href="#" class="nav-item">Education</a></li>
    <li><a href="#" class="nav-item">Media</a></li>
  </ul>